// objects_new
.objects-new
	overflow: hidden

	&-modal
		overflow-y: auto
		overflow-x: hidden

		display: flex
		justify-content: center
		align-items: flex-start

		position: fixed

		top: 0
		left: 0

		width: 100%
		height: 100%

		background-color: rgba(0, 0, 0, 0.7)

		z-index: 20

		+open

		&.close
			+close

		&-content-wrapper
			display: flex
			justify-content: center

			width: 90%
			max-width: 1200px

			margin: 0 auto

			+openPopup

			&.close
				+closePopup

		&-content
			position: relative

			margin: 25px 10px
			padding: 50px

			background-color: $white

			width: 700px

			+borderRadius

			&.fullWidth
				width: 100%
				max-width: 1200px

			&.close
				+closePopup

				padding: 0

			&-text
				&__title
					font-size: 28px
					color: $darkMainColor

				&__description
					width: 90%

					margin-top: 15px
					font-size: 18px

			&-input
				margin-top: 50px

			&-stars-input
				margin-top: 50px

				&-items-wrapper
					display: flex
					align-items: center

					margin-top: 25px

				&-item
					cursor: pointer
					margin-right: 35px

					&:hover > svg
						fill: $mainColor

					&:last-child
						margin-right: 0

					& > svg
						fill: #EDEDED

						+transition

					&.active > svg
						fill: $mainColor

			&-btn
				margin-top: 50px

				display: flex
				justify-content: space-between
				align-items: center

			&-terms
				margin-top: 50px

				&-times
					display: flex
					justify-content: space-between

					&-from-to
						width: 47%

						display: flex
						justify-content: space-between

						&-block
							width: 47%

					&-possibility-from-to-wrapper
						width: 47%

					&-possibility-from-to
						display: flex
						align-items: center

						&-yes-or-no
							display: flex
							align-items: center

							&-block
								margin-right: 20px

								&:last-child
									margin-right: 0

						&-select
							margin-left: 30px

							width: 100%

				&-about
					margin-top: 30px

				&-selects
					margin-top: 30px

					display: flex
					justify-content: space-between

					&-pay
						width: 40%

					&-confirmed
						width: 40%

		&-content-big
			overflow: hidden

			position: relative

			margin: 25px 10px

			background-color: $white

			width: 700px
			height: calc( 100% - 50px )

			+borderRadius
			+openPopup

			&.fullWidth
				width: 100%
				max-width: 1200px

			&-top-text
				position: relative
				z-index: 12

				padding: 50px 50px 30px 50px

				+boxShadow

				&__title
					font-size: 28px
					color: $darkMainColor

				&__description
					width: 85%

					margin-top: 15px
					font-size: 18px

			&-scroll-wrapper
				padding-right: 25px

			&-scroll
				padding: 25px 50px

				height: 100%

				overflow: auto

			&-bottom-btn
				position: relative
				z-index: 12

				background-color: $white

				display: flex
				justify-content: space-between
				align-items: center

				padding: 30px 50px

				+boxShadow

			&-rooms-block
				&__title
					font-weight: 500
					margin-bottom: 20px

				&-images
					&__btn
						width: 100px

						cursor: pointer
						background-color: transparent

						font-size: 18px
						color: $gray

						text-align: center

						& > span
							display: block
							text-decoration: underline

				&-row-inputs
					margin-top: 50px

					display: flex
					justify-content: space-between

					&-input-name
						width: 350px

					&-select-types-room
						width: 220px

					&-select-types-bed
						width: 300px

					&-guests-count
						width: 150px

					&-free-cancel-wrapper
						width: 46%

					&-free-cancel
						display: flex

						&-select
							margin-left: 30px

							width: 100%

					&-foods-wrapper
						width: 46%

					&-foods
						display: flex

						&-select
							margin-left: 30px

							width: 100%

					&-payment-wrapper
						width: 46%

					&-payment
						display: flex
						justify-content: space-between

						&-select
							width: 75%

						&-input
							width: 23%

					&-price-wrapper
						width: 46%

					&-price
						display: flex
						align-items: center

						&-input
							margin-right: 20px

				&-options-block
					margin-top: 65px

					&-title
						display: flex
						align-items: center

						&__title
							font-size: 18px

						&-message
							position: relative

							z-index: 2

							&-icon
								cursor: pointer

								display: flex
								justify-content: center
								align-items: center

								margin-left: 15px

								&__svgActive
									display: flex
									align-items: center
									justify-content: center

									opacity: 0

									z-index: 1
									position: absolute

									+transition

									&.active
										opacity: 1

							&__text
								padding: 20px

								font-size: 15px
								color: $white
								background-color: $mainColor

								width: 320px
								position: absolute

								bottom: 5px

								left: 40px

								+borderRadius

					&-row-inputs
						margin-top: 50px

						display: flex
						justify-content: space-between

						&-type-beds
							width: 46%

							display: flex
							justify-content: space-between

							&-block
								width: 48%

						&-foods-wrapper
							width: 46%

						&-foods
							display: flex

							&-select
								margin-left: 30px

								width: 100%

				&-btn
					margin: 65px 0 30px 0

					display: flex
					justify-content: space-between
					align-items: center

					&__btn
						cursor: pointer

						display: flex
						align-items: center

						font-size: 18px

						background-color: transparent
						color: $darkMainColor

						& > svg
							margin-right: 20px

						&.gray
							color: $gray

				&-yes-or-no
					display: flex
					align-items: center

					&-block
						margin-right: 20px

						&:last-child
							margin-right: 0

			&-services
				&-block
					margin-top: 35px

					&:first-child
						margin-top: 0

					&__title
						font-size: 18px

					&-items-wrapper
						display: flex
						justify-content: space-between
						flex-wrap: wrap

					&-item
						width: 47%

						display: flex
						justify-content: space-between
						align-items: center

						margin-top: 20px

						&__title
							position: relative
							font-size: 15px
							margin-left: 15px

							&::before
								content: ""

								display: block

								position: absolute

								left: -15px
								top: 50%

								transform: translateY(-50%)

								width: 5px
								height: 5px

								background-color: $black

								border-radius: 50%

						&-radios
							display: flex
							align-items: center

							&-block
								margin-right: 20px

								&:last-child
									margin-right: 0

			&-faq
				&-item
					&__title
						font-size: 18px

					&-question
						margin-top: 30px

					&-answer
						margin-top: 30px

				&__btn
					margin: 35px 0 15px 0

					cursor: pointer

					display: flex
					align-items: center

					font-size: 18px

					background-color: transparent
					color: $darkMainColor

					& > svg
						margin-right: 20px

	&-cover
		&-text
			width: 90%
			max-width: 1200px
			margin: 0 auto

			display: flex
			justify-content: space-between

			background-color: #fff

			border-radius: 0px 0px 35px 35px

			overflow: hidden

			&-description
				padding: 35px 50px

				&__title
					font-size: 28px
					color: $darkMainColor

				&__subtitle
					margin-top: 10px
					font-size: 18px

				&__btn
					display: block
					margin-top: 20px

			&-feedbacks
				width: 150px
				min-height: 100%

				background-color: $darkMainColor

		&-image
			display: flex
			flex-direction: column
			align-items: center

			padding: 50px 0

			&-text
				margin-top: 60px

				text-align: center

				&__title
					font-size: 28px
					color: $darkMainColor

					margin-bottom: 10px

				&__subtitle
					width: 75%
					margin: 0 auto

					font-size: 18px

				&__btn
					margin-top: 30px

	&-additional-photos
		margin: 50px 0

		position: relative
		height: 180px

		&__img
			z-index: -1

			position: absolute

			top: 0
			left: 0

			user-select: none
			pointer-events: none

		&-text
			height: 100%

			display: flex
			flex-direction: column
			align-items: center
			justify-content: center

			text-align: center

			&__title
				font-size: 18px
				color: $darkMainColor

				margin-bottom: 10px

			&__subtitle
				width: 50%

				font-size: 18px

				margin: 0 auto 20px auto

	&-block
		margin: 50px 0
		padding: 50px

		background-color: $white

		+borderRadius

		&-text
			&__title
				font-size: 28px
				color: $darkMainColor

			&__description
				margin-top: 15px

				width: 80%

			&__btn
				display: block
				margin-top: 30px

		&-icon
			margin: 100px 0

			display: flex
			justify-content: center

		&-maps
			margin: 50px 0

			background-color: $white

			overflow: hidden

			+borderRadius

			&-padding
				padding: 50px

			&__title
				font-size: 32px
				margin-bottom: 15px

				&.marginBottom
					margin-bottom: 50px

			&__description
				margin-bottom: 15px

				color: $gray

			&-text-wrapper
				display: flex
				flex-direction: column
				align-items: center

			&-text
				position: relative
				overflow: hidden

				&-shadow
					width: 100%
					height: 100px

					position: absolute

					bottom: 0
					left: 0

					background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, $white 83.93%)

					+transition

					&.hidden
						opacity: 0
						bottom: -100px

				&__btn
					cursor: pointer

					border: none
					background-color: transparent

					font-size: 20px

					color: $darkMainColor

					+transition

					&.visible
						margin-top: 25px

						& > svg
							transform: rotate(180deg)

					& > svg
						width: 20px
						margin-left: 15px
						+transition

			&-text
				&-location
					&__title
						color: $darkMainColor
						margin-bottom: 10px

					&__subtitle
						font-size: 15px

				&-list-wrapper
					margin-top: 50px

					display: flex
					justify-content: space-between

				&-list
					width: 45%

					&__title
						font-size: 20px

					&-item
						margin-top: 20px

						display: flex
						justify-content: space-between

						font-size: 15px

				&__warning
					margin-top: 25px

					font-size: 15px
					color: $gray

			&-map
				display: flex
				justify-content: center
				align-items: flex-end

				padding: 25px

				height: 350px

				+backgroundSetting

		&-verification
			&-block
				margin-top: 50px

				&__title
					color: $darkMainColor
					font-size: 18px

				&__description
					margin-top: 10px

					font-size: 18px

				&__add
					margin-top: 20px

				&-document
					margin-top: 25px
					display: flex

					&-cover
						min-width: 100px
						min-height: 100%

						border-radius: 20px

						+backgroundSetting

					&-text
						margin-left: 20px

						&__size
							color: $gray

						&__status
							font-size: 15px

							& > span
								font-weight: 500

							&.cancel > span
								color: $darkMainRed

							&.work > span
								color: $darkMainColor

						&__input
							margin-top: 5px
							cursor: pointer

							color: $gray
							border-bottom: 1px solid $gray
